@import './base/reset';
@import './base/variables';
@import './base/mixins';
@import './base/typography';


body{
    background-color:royalblue;
}

.parking{
    width: 400px;
    height: 300px;
    background-image: url('../images/parking.jpg')
}