.score{
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 999;
    width: auto;
    height: auto;
    color: $secondary-color;
    margin: 0 auto;
    display: none;
    &--win{
        display: block;
        animation: showScore 1s forwards;
        color: rgb(31, 155, 31);
    }
    &--lose{
        display: block;
        animation: showScore 1s forwards;
        color: rgb(235, 13, 13);
    }
}


@keyframes showScore{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
        transform: scale(3);
    }
    100%{
        opacity: 0;
        transform: scale(15);
    }
}